<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>
  <providers embedded="Config.providers.config, Pulse.Contactador.Dao"/>
  <database>
    <provider name="oracleClient10"/>
    <dataSource name="database" connectionString="${connectionString}" />
  </database>

  <sqlMaps>
    <sqlMap embedded="MapsOracle.Alias.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_PREGUNTA.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_ITEMPREGUNTA.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_PAGINAENCUESTA.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_ENCUESTA.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_PLANTILLAENCUESTA.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_RESPUESTA.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_ITEMRESPUESTA.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_CONFSALIDACORREO.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_LISTACORREO.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_ITEMCORREODESTINO.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_CONTROLADORENVIO.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_MENSAJECORREO.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_CAMPANIAS.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_COMPANIA.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_USUARIOEXTERNO.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_CATALOGOPARAMETROS.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_ITEMCATALOGOPARAMETRO.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_CONEXION.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_EVALUADOR.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_EVALUADORENCUESTA.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.DaoCW_SEGUIMIENTOENCUESTA.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.EstadoCampania.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.GrupoEncuestado.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.ItemCarpetaEncuesta.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.RelacionCarpetaEncuesta.xml, Pulse.Contactador.Dao"/>
    <sqlMap embedded="MapsOracle.CarpetaEncuesta.xml, Pulse.Contactador.Dao"/>

  </sqlMaps>
</sqlMapConfig>
